amazon-braket-pennylane-plugin
isort
pre-commit
pylint
pytest==7.1.2
pytest-benchmark
pytest-cov
pytest-rerunfailures
pytest-timeout
pytest-xdist
qiskit==1.2.0
qiskit-braket-provider==0.4.1
qiskit-algorithms
ruff
sphinx
sphinx-rtd-theme
sphinxcontrib-apidoc
tox
