amazon-braket-pennylane-plugin
pre-commit
pylint
pytest
pytest-benchmark
pytest-cov
pytest-rerunfailures
pytest-timeout
pytest-xdist
qiskit==1.4.3
qiskit-braket-provider==0.6.0
qiskit-algorithms==0.3.1
ruff
sphinx
sphinx-rtd-theme
sphinxcontrib-apidoc
tox
